div{
  max-height: 100vh;
}
nav {
    float: left;
    width: 10%;
    background: #1a4652;
    padding: 20px;
    height: 100vh;
  }

  header {
    background-color: #666;
    padding: 10px;
    text-align: right;
    color: white;
  }
  .nav-link{
    color:beige !important
  }

  .menu-button{
    background: #838b00;
    width: 25vh;
    padding: 10px;
  }